import os

MULTI_SOURCE_FILES_PATH = os.path.join(os.path.dirname(os.path.dirname(__file__)), "multi_source_files")
if not os.path.exists(MULTI_SOURCE_FILES_PATH):
    os.mkdir(MULTI_SOURCE_FILES_PATH)